<!DOCTYPE html>
<html ng-app="sample">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<meta charset="UTF-8">
	<base href="http://ultraviolet.csom.umn.edu/mvcdashboard/"/>

	<!-- CHARTS -->
	<script type="text/javascript" src="~/bower/lib/chartist/dist/chartist.min.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	@*<script type="text/javascript" src="~/bower/lib/Chart/jsapi.js"></script>
	<script type="text/javascript" src="~/bower/lib/Chart/Chart.js"></script>*@

	<!-- styles -->
	<link href="~/bower/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/bower/lib/angular-dashboard-framework/dist/angular-dashboard-framework.min.css" rel="stylesheet">
	<link href="~/bower/lib/chartist/dist/chartist.min.css" rel="stylesheet">
	<link href="~/Content/Site.css" rel="stylesheet">

	<!-- scripts -->
	<script type="text/javascript" src="~/bower/lib/angular/angular.js"></script>
	<script type="text/javascript" src="~/bower/lib/Sortable/Sortable.js"></script>
	<script type="text/javascript" src="~/bower/lib/angular-bootstrap/ui-bootstrap.js"></script>
	<script type="text/javascript" src="~/bower/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="~/bower/lib/angular-dashboard-framework/dist/angular-dashboard-framework.js"></script>
	<script type="text/javascript" src="~/bower/lib/jquery/dist/jquery.min.js"></script>

	<!-- structure script-->
	<script type="text/javascript" src="~/bower/lib/adf-structures-base/dist/adf-structures-base.min.js"></script>

	<!--widgets-->
	<!--clock widget-->
	<link href="~/Widgets/adf-widget-clock/dist/adf-widget-clock.min.css" rel="stylesheet">
	<script type="text/javascript" src="~/bower/lib/moment/moment.js"></script>
	<script type="text/javascript" src="~/Widgets/adf-widget-clock/dist/adf-widget-clock.min.js"></script>
	<!--base widget-->
	<script type="text/javascript" src="~/Widgets/adf-widget-base/dist/adf-widget-baseWidget.js"></script>
	<!--counter widget-->
	<script type="text/javascript" src="~/Widgets/adf-widget-counter/dist/adf-widget-counterWidget.js"></script>
  <!---timeline widget-->
  <script type="text/javascript" src="~/Widgets/adf-widget-timeline/dist/adf-widget-timelineWidget.js"></script>



	<!-- angular scripts -->
	<script src="~/Scripts/script.js"></script>
	<script src="~/Scripts/MainController.js"></script>


</head>
<body class="container" ng-controller="mainController">

<script>
	// loading Google Chart API
	google.load('visualization', '1.0', { 'packages': ['corechart', 'timeline'] });
	console.log('Google Chart API is loaded');
</script>

@RenderBody()

</body>

</html>
