<p style="font-family: courier new; color: chocolate; border: 1px solid chocolate; padding: 5px">- Status Monitor: current program: {{data2.programId}}// current TermId: {{data2.termId}}</p>

<adf-dashboard name="mydashboard" collapsible="true" structure="6-6" adf-model="model"/>